# StarWars

### Introduction:

This time you will create the data.
```
raw_data = {"name": ['Dart Vather', 'Leia Princess','Luke Skywalker','Yoda'],
            "class": ['Empire','Rebels','Rebels','Rebels'],
            "gender": ['M', 'F', 'M', 'J'],
            "hp": [45, 39, 44, 45],
            "like": ['yes', 'no','yes','no']                        
            }
````

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create a data dictionary

In [3]:
characters = {"name": ['Dart Vather', 'Leia Princess','Luke Skywalker','Yoda'],
            "class": ['Empire','Rebels','Rebels','Rebels'],
            "gender": ['M', 'F', 'M', 'J'],
            "hp": [45, 39, 44, 45],
            "like": ['yes', 'no','yes','no']                        
            }

### Step 3. Create a DataFrame object starting from the data dictionary, and print its head

In [5]:
characters_df = pd.DataFrame(characters)
characters_df.head()

    class gender  hp like            name
0  Empire      M  45  yes     Dart Vather
1  Rebels      F  39   no   Leia Princess
2  Rebels      M  44  yes  Luke Skywalker
3  Rebels      J  45   no            Yoda

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, class, hp, like, gender

In [7]:
characters_df = characters_df[['name', 'class', 'hp', 'like','gender']]
characters_df

             name   class  hp like gender
0     Dart Vather  Empire  45  yes      M
1   Leia Princess  Rebels  39   no      F
2  Luke Skywalker  Rebels  44  yes      M
3            Yoda  Rebels  45   no      J

### Step 5. Add another column called actor, and insert what you have in mind.

In [10]:
characters_df['actor'] = ['a', 'b', 'c', 'd']
characters_df

             name   class  hp like gender actor
0     Dart Vather  Empire  45  yes      M     a
1   Leia Princess  Rebels  39   no      F     b
2  Luke Skywalker  Rebels  44  yes      M     c
3            Yoda  Rebels  45   no      J     d

### Step 6. Present the type of each column

In [11]:
characters_df.dtypes

name      object
class     object
hp         int64
like      object
gender    object
actor     object
dtype: object